<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Quotes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300&family=Qwitcher+Grypen:wght@700&display=swap"
        rel="stylesheet">
    <style>
        body {
            height: 100vh;
            margin: 0px;
            background-image: linear-gradient(180deg, rgb(114, 140, 142), rgb(255, 255, 255));
            overflow: hidden !important;
        }

        .flex-container {
            margin-top: 200px;
        }

        .heading {
            text-align: center;
            color: #cf6d7b;
            font-style: italic;
            font-family: 'Qwitcher Grypen', cursive;
            font-size: 5rem;
        }

        .card {
            width: 600px;
            text-align: center;
            margin: 0 auto;
            box-shadow: 5px 10px 18px #b0aeaf;
        }

        blockquote {
            font-family: Georgia, serif;
            font-size: 18px;
            font-style: italic;
            width: 100%;
            margin: 0 auto;
            padding: 0.35em 40px;
            line-height: 1.45;
            position: relative;
            color: #383838;
            text-align: center;
        }

        blockquote:before {
            display: block;
            padding-left: 10px;
            content: "\201C";
            font-size: 80px;
            position: absolute;
            left: -20px;
            top: -20px;
            color: #7a7a7a;
        }

        blockquote cite {
            color: #999999;
            font-size: 14px;
            display: block;
            margin-top: 5px;
        }

        blockquote cite:before {
            content: "\2014 \2009";
        }
    </style>
</head>

<body>

    <div class="flex-container">
        <h1 class="heading">The Quote Generator</h1>
        <div class="card text-center flex-child">
            <div class="card-body">
                <h5 class="card-title">
                    <blockquote>
                        <span id="quote">
                            <%= quote %>
                        </span>
                        <cite id="cite">
                            <%= name %>
                        </cite>
                    </blockquote>
                </h5>
                <a href="#" onclick="postCall()" class="btn btn-info">Generate New Quote</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script>
        async function postCall() {
            try {
                let response = await fetch('/', { method: 'POST' });
                let body = await response.text();
                debugger;
                console.log(JSON.parse(body)[0]['a']);
                console.log(JSON.parse(body)[0]['q']);
                document.getElementById("quote").innerHTML = JSON.parse(body)[0]['q'];
                document.getElementById("cite").innerHTML = JSON.parse(body)[0]['a'];
            }
            catch (exception) {
                console.log(exception);
            }
        }
    </script>
</body>

</html>